<!DOCTYPE html>
<html>
  <head>
    <title>Word Meaning Test</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1>Word Meaning Test</h1>

    <div class="container">
      <div class="question-indicator">
        <p>Defination</p>
        <p><%= wordIndex + 1 %> / <%= wordsData.length %></p>
      </div>
      <p><%= wordsData[wordIndex].meaning %></p>
      <form action="/test" method="POST">
        <input type="hidden" name="wordIndex" value="<%= wordIndex %>" />
        <input
          type="hidden"
          name="wordId"
          value="<%= wordsData[wordIndex]._id %>"
        />
        <input type="hidden" name="score" value="<%= score %>" />
        <label for="userAnswer">Enter the word:</label>
        <input type="text" id="userAnswer" name="userAnswer" required />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
